<div class="row">
	<div class="col-md-4" style="background-color: green">
		<h1><%= current_user.nickname %></h1>
		<%= current_user.total_points %><br>
		left graph

		
	</div>

	<div class="col-md-4" style= "background-color: red">
		<h1>
		<% if current_user.total_points > current_partner.total_points %>
			<%= current_user.nickname %><br>
			is winning the relationship
		<% elsif current_user.total_points < current_partner.total_points %>
			<%= current_partner.nickname %><br>
			is winning the relationship
		<% end %>
		</h1>
	</div>

	<div class="col-md-4" style= "background-color: yellow">
		<h1><%= current_partner.nickname %></h1>
		<%= current_partner.total_points %><br>
			right graph
	</div>
</div>

<div class="row">
	<div class="col-md-12" style= "background-color: grey">
		<% @incidents.each do |incident| %>
		
			<%= incident.user.nickname %> <%= incident.category %> <%= incident.description %><br>
		
			<% end %>
		#display all incidents in reverse chronological order
		%>
	</div>
</div>