

<div class="row">
	<div class="col-md-4">
		<div class="bg-info rounding">
			<h1><%= current_user.nickname %></h1>
			<span class="fa-stack fa-3x">
	  		<i class="fa fa-bookmark fa-stack-2x text-success"></i><strong class="fa-stack-1x calendar-text fa-inverse"><%= current_user.total_points %></strong>
			</span>
			<br>
				<%= bar_chart Incident.where(user_id: current_user.id).group(:category).sum(:calculated_points) %>
		</div>
		
	</div>

	<div class="col-md-4">
		<div class="bg-danger rounding">
			<h1>
			<% if current_relationship.winner == current_user %>
				<%= current_user.nickname %><br>
				is winning the relationship
			<% else %>
				<%= current_partner.nickname %><br>
				is winning the relationship
			<% end %>
			</h1>
			
			<% if current_relationship.winner == current_user %>
				<h3>Maintain your moral high ground</h3>
			<% else %>
				<h3>Gain the  moral high ground</h3>
			<% end %>
			
			<button type="button" class="btn btn-default btn-lg">
        <a href="/relationships/new_kiss">
          <span class="fa-stack">
            <i class="fa fa-heart fa-stack-2x text-danger" aria-hidden="true"></i>
            <i class="fa fa-plus fa-stack-1x text-primary" aria-hidden="true"></i>
          </span>
          Add a new kiss
        </a>
      </button>

			<button type="button" class="btn btn-default btn-lg">
        <a href="/relationships/new_yell">
          <span class="fa-stack">
            <i class="fa fa-heart-o fa-stack-2x text-danger" aria-hidden="true"></i>
            <i class="fa fa-minus fa-stack-1x text-primary" aria-hidden="true"></i>
          </span>
					Add a new yell
        </a>
      </button>
		</div>
	</div>

	<div class="col-md-4">
		<div class="bg-warning rounding">
			<h1><%= current_partner.nickname %></h1>
			<span class="fa-stack fa-3x">
	  		<i class="fa fa-bookmark fa-stack-2x text-success"></i><strong class="fa-stack-1x calendar-text fa-inverse"><%= current_partner.total_points %></strong>
			</span>
			<br>
				<%= bar_chart Incident.where(user_id: current_partner.id).group(:category).sum(:calculated_points) %>
		</div>
	</div>
</div>

<div class="incident">
	<% @incidents.each do |incident| %>
		<div class="row" style="margin-bottom:7px;">
				<div class="col-md-4 col-xs-2 text-right button-properties">
					<% if my_incident?(incident.id) && (incident.user_id == current_partner.id) && (incident.status == "negative") %>
						<div class="container-fluid">
								<form action="/relationships/forgive" method="post">
									<input type="hidden" name="id" value="<%= incident.id %>">
									<input class="btn btn-default" type="submit" value="forgive" />
								</form>
							<a href="/forget"><input class="btn btn-default" type="submit" value="forget" /></a>
						</div>
					<% end %>
				</div>

				<div class="col-md-4">
				
					<div class="bg-<% if (incident.user_id == current_user.id)%>info<% else %>warning<% end %> rounding text-properties">
						<span class="fa-stack fa-lg">
							<i class="fa fa-lg fa-<% if incident.status == "positive" %>heart fa-stack-1x text-danger<% elsif incident.status == "negative" %>heart-o fa-stack-1x text-danger"></i><i class="fa fa-bolt fa-stack-1x text-danger<% elsif incident.status == "forgiven" %>heart-o text-muted<% end %>" aria-hidden="true"></i>
						</span>	
						<%= incident.user.nickname %> <%= incident.category.gsub(/_/, ' ') %> <%= incident.description %>
						<br>
						<small class="text-muted"><%= incident.created_at.strftime("%A %d %B %Y %l:%M:%S %P") %></small>
					</div>
					
				</div>
				<div class="col-md-4"></div>
			</div>
	<% end %>
</div>